@page "/news"

@code {

}

<NeoServer.Web.Website.Shared.Components.InfoBox />

<div class="mt-5"></div>

<NeoServer.Web.Website.Shared.Components.BoxTop />
<NeoServer.Web.Website.Shared.Components.ContentBox TitleIcon="abouttibia.gif" TitleText="News">
</NeoServer.Web.Website.Shared.Components.ContentBox>
<NeoServer.Web.Website.Shared.Components.BoxBottom />
