<style>
    .infobox-content {
        background: url(/images/infobox/background-red.gif);
        height: 28px;
        margin: 0 5px;
        line-height: 28px;
        color: white;
        font-size: 11px;
        font-family:Verdana;
        display: flex;
        padding: 0 15px;
    }

    .infobox-content img {
        display:inline
    }
</style>

<NeoServer.Web.Website.Shared.Components.BoxTop />
<div class="infobox-content">
    <div>
        <img src="/images/infobox/icon-players-online.png" /> 9999 players online
    </div>
</div>
<NeoServer.Web.Website.Shared.Components.BoxBottom />